In [32]:
import os

from ladybug.sql import SQLiteResult
from ladybug import analysisperiod as ap
import numpy as np
from collections import OrderedDict
import pandas as pd

# thornton

In [49]:
excel_file = "/Users/julietnwagwuume-ezeoke/My Drive/CS361_Optim/_fplocal_cs361/thornton_data/Thornton Utilities 2019.xlsx"
df = pd.read_excel(excel_file, usecols="A:D", skiprows=2)

In [50]:
df.columns

Index(['Month', 'Chilled Water (ton-hrs)', 'Electricity (kWh)',
       'Hot Water (kBtu)'],
      dtype='object')

In [51]:
df["Electricity (kWh)"]

0     13804.135549
1     13485.947478
2     12435.215617
3     12475.169092
4     15076.189887
5     11582.749313
6     11381.135283
7     11519.249653
8     11531.941250
9     14825.819485
10    13932.567954
11    11533.748426
Name: Electricity (kWh), dtype: float64

In [56]:
pd.DataFrame(list(df["Electricity (kWh)"] * 3.6e6))

               0
0   4.969489e+10
1   4.854941e+10
2   4.476678e+10
3   4.491061e+10
4   5.427428e+10
5   4.169790e+10
6   4.097209e+10
7   4.146930e+10
8   4.151499e+10
9   5.337295e+10
10  5.015724e+10
11  4.152149e+10

# sql

In [3]:
sql_file = "/Users/julietnwagwuume-ezeoke/My Drive/CS361_Optim/_fplocal_cs361/eppy_energy_models/05_19/05_20_batch_00_06/sample_1/eplusout.sql"

sqld = SQLiteResult(sql_file)

In [6]:
sqld.available_outputs

('Electricity:Facility', 'Electricity:Facility')

In [16]:
elect = sqld.tabular_data_by_name("Custom Monthly Report") # BUILDING ENERGY PERFORMANCE - ELECTRICITY  and BUILDING ENERGY PERFORMANCE - ELECTRICITY PEAK DEMAND in one table rip 
elect["January"] # just need indices 0 and 2, add them to together
elect.keys()

odict_keys(['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December', '', 'Annual Sum or Average', 'Minimum of Months', 'Maximum of Months'])

In [17]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [31]:
all_samples = []
for i in range(2):
    elect_use_sample = []
    elect_dict = OrderedDict()
    for month in months:
        elect_use_sample.append(elect[month][0] + elect[month][2])
    all_samples.append(elect_use_sample)

In [36]:
col_names = [f"x{i+1}" for i in range(2)]
col_names

['x1', 'x2']

In [38]:
df = pd.DataFrame(all_samples, col_names).T
df

              x1            x2
0   1.710276e+09  1.710276e+09
1   1.696934e+09  1.696934e+09
2   2.103386e+09  2.103386e+09
3   1.705829e+09  1.705829e+09
4   1.710276e+09  1.710276e+09
5   2.010998e+09  2.010998e+09
6   1.609142e+09  1.609142e+09
7   1.810103e+09  1.810103e+09
8   1.902379e+09  1.902379e+09
9   1.710276e+09  1.710276e+09
10  1.902379e+09  1.902379e+09
11  1.906826e+09  1.906826e+09

In [41]:
folder_path = "/Users/julietnwagwuume-ezeoke/My Drive/CS361_Optim/_fp_cs361/sim_data"
df.to_csv(f"{folder_path}/0520_batch_00_06.csv")

In [44]:
list(np.zeros(12))

12

In [46]:
for i in range(2):
    i+=1
    print(i)

1
2